@model CHS.TLC.Data.NM.Web.Areas.Intranet.ViewModels.Document._DeletePOViewModel
@{
    ViewBag.Title = "Eliminar Purcharse Order";
    ViewBag.PageIcon = "trash";
    Layout = ConstantHelpers.Layout.MODAL_LAYOUT_PATH;
    ViewBag.Form = new ModalFormHelpers("_DeletePO", "Document", FormMethod.Post);
}

@section Styles
{
    <style>
        form {
            margin: 0 0 0px !important;
        }
    </style>
}

@Html.AntiForgeryToken()
@Html.HiddenFor(x => x.PurcherseOrderId)
@Html.HiddenFor(x => x.FatherId)

<p>¿Está seguro de eliminar la P.O. <b>@Model.Code</b>?</p>

@section Footer
{
    <button id="save" type="submit" class="btn btn-primary"><i class="icon icon-save"></i> Guardar</button>
}