@model CHS.TLC.Data.NM.Web.Areas.Intranet.ViewModels.Master._DeleteTypeExistenceViewModel
@{
    ViewBag.Title = "Eliminar Tipo de Existencia";
    ViewBag.PageIcon = "trash";
    Layout = ConstantHelpers.Layout.MODAL_LAYOUT_PATH;
    ViewBag.Form = new ModalFormHelpers("_DeleteTypeExistence", "Master", FormMethod.Post);
}

@section Styles
{
    <style>
        form {
            margin: 0 0 0px !important;
        }
    </style>
}

@Html.AntiForgeryToken()
@Html.HiddenFor(x => x.TypeExistenceId)

<p>¿Está seguro de eliminar el tipo de existencia <b>@Model.Description</b>?</p>

@section Footer
{
    <button id="save" type="submit" class="btn btn-primary"><i class="icon icon-save"></i> Guardar</button>
}