@model CHS.TLC.Data.NM.Web.Areas.Intranet.ViewModels.Master._DeleteSupplierViewModel
@{
    ViewBag.Title = "Eliminar Proveedor";
    ViewBag.PageIcon = "trash-o";
    Layout = ConstantHelpers.Layout.MODAL_LAYOUT_PATH;
    ViewBag.Form = new ModalFormHelpers("_DeleteSupplier", "Master", FormMethod.Post);
}

@section Styles
{
    <style>
        form {
            margin: 0 0 0px !important;
        }
    </style>
}

@Html.AntiForgeryToken()
@Html.HiddenFor(x => x.SupplierId)

<p>¿Está seguro de eliminar el proveedor <b>@Model.BussinessName</b>?</p>

@section Footer
{
    <button id="save" type="submit" class="btn btn-primary"><i class="icon icon-save"></i> Guardar</button>
}