@model CHS.TLC.Data.NM.Web.Areas.Intranet.ViewModels.Store._DeleteEntryNoteViewModel
@{
    ViewBag.Title = "Eliminar Nota de Ingreso";
    ViewBag.PageIcon = "trash";
    Layout = ConstantHelpers.Layout.MODAL_LAYOUT_PATH;
    ViewBag.Form = new ModalFormHelpers("_DeleteEntryNote", "Store", FormMethod.Post);
}

@section Styles
{
    <style>
        form {
            margin: 0 0 0px !important;
        }
    </style>
}

@Html.AntiForgeryToken()
@Html.HiddenFor(x => x.EntryNoteId)

<p>¿Está seguro de eliminar la nota de ingreso <b>@Model.Code</b>?</p>

@section Footer
{
    <button id="save" type="submit" class="btn btn-primary"><i class="icon icon-save"></i> Guardar</button>
}