@model CHS.TLC.Data.NM.Web.Areas.Intranet.ViewModels.Store.AddEditEntryNoteViewModel
@{
    ViewBag.Title = (Model.EntryNoteId.HasValue ? "Editar" : "Agregar") + " nota de entrada";
    ViewBag.PageIcon = "arrow-left";
}

@section Breadcrumbs{
    <li><a href="@Url.Action("ListEntryNote","Store")">Lista de notas de entradas</a></li>
    <li class="separator"><i class="icon-angle-right"></i></li>
}

<div class="row-fluid">
    <div class="span12 box bordered-box green-border">
        <div class="box-header green-background">
            <div class="title">
                <i class="icon-reorder"></i>
                Datos
            </div>
        </div>
        <div class="box-content box-double-padding">
            <form class="form" style="margin-bottom: 0;">
                <fieldset>
                    <div class="span4">
                        <div class="control-group">
                            <label class="control-label">#Nota Entrada</label>
                            <div class="controls">
                                <input class="span12" id="full-name" type="text">
                                <p class="help-block">
                                </p>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">Tipo Documento</label>
                            <div class="controls">
                                <input class="span12" id="full-name" type="text">
                                <p class="help-block">
                                </p>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">#Documento</label>
                            <div class="controls">
                                <input class="span12" id="full-name" type="text">
                                <p class="help-block">
                                </p>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">Tipo Movimiento</label>
                            <div class="controls">
                                <input class="span12" id="full-name" type="text">
                                <p class="help-block">
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="span5 offset1">
                        <div class="control-group">
                            <label class="control-label">Fecha</label>
                            <div class="controls">
                                <input class="span4" readonly>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">#Guía de Proveedor</label>
                            <div class="controls">
                                <input class="span12" id="full-name" type="text">
                                <p class="help-block">
                                </p>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">#Guía del Transportista</label>
                            <div class="controls">
                                <input class="span12" id="address-line2" type="text">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">Hora Llegada Transporte</label>
                            <div class="controls">
                                <input class="span12" id="address-line2" type="text">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">#Presinto</label>
                            <div class="controls">
                                <input class="span12" id="address-line2" type="text">
                            </div>
                        </div>
                    </div>
                </fieldset>

                <hr class="hr-normal">

                <fieldset>
                    <div class="span6">
                        <div class="control-group">
                            <label class="control-label"><i class="icon-search"></i> Buscar Producto</label>
                            <div class="controls">
                                <input class="span12" id="full-name" type="text">
                                <p class="help-block">
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="span6">
                        <div class="control-group">
                            <label class="control-label"><i class="icon-search"></i> Buscar Diseño o Color</label>
                            <div class="controls">
                                <input class="span12" id="full-name" type="text">
                                <p class="help-block">
                                </p>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <br />
                <div class="responsive-table">
                    <div class="scrollable-area">
                        <table class="table table-hover table-striped" style="margin-bottom:0;">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Desc. Invoice</th>
                                    <th>Desc. Local</th>
                                    <th>Familia</th>
                                    <th>Cod. Diseño</th>
                                    <th>Cant. Pedida</th>
                                    <th>Uni. Pedida</th>
                                    <th>Cant. Pedida</th>
                                    <th>Uni. Pedida</th>
                                    <th>Cant. Real</th>
                                    <th>Und. Real</th>
                                    <th>Cant. Real</th>
                                    <th>Und. Real</th>
                                    <th>Cant. Real</th>
                                    <th>Und. Real</th>
                                    <th>Cant. Real</th>
                                    <th>Und. Real</th>
                                    <th>Parcial/Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    
                                    <td><input class="span9" readonly data-type="startP-1" value="500"/></td>
                                    <td><input class="span9" readonly value="m"/></td>
                                    <td><input class="span9" readonly data-type="startS-1" value="20"/></td>
                                    <td><input class="span9" readonly value="rollos"/></td>
                                    
                                    <td style="background-color:#78d676"><input class="span9 onlyNumbers realP" value="0" data-index="1"/></td>
                                    <td style="background-color:#78d676"><input class="span9" value="m"/></td>
                                    <td style="background-color:#78d676"><input class="span9 onlyNumbers realS" value="0" data-index="1"/></td>
                                    <td style="background-color:#78d676"><input class="span9" value="rollos"/></td>

                                    <td style="background-color:#ef4f4f"><input class="span9 difP" data-type="difP-1" readonly value="500" /></td>
                                    <td style="background-color:#ef4f4f"><input class="span9" readonly value="m"/></td>
                                    <td style="background-color:#ef4f4f"><input class="span9 difS" data-type="difS-1" readonly value="20" /></td>
                                    <td style="background-color:#ef4f4f"><input class="span9" readonly value="rollos"/></td>

                                    <td>
                                        <select class="form-control">
                                            <option value="P">PARCIAL</option>
                                            <option value="T">TOTAL</option>
                                        </select>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="form-actions" style="margin-bottom: 0;">
                    <div class="text-right">
                        <div class="btn btn-primary">
                            <i class="icon-save"></i>
                            Guardar
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(document).on('ready', function () {
            $('.realP').on('keyup', function () {
                var value = $(this).val();
                var index = $(this).attr('data-index');
                if (value > 0) {
                    var startp = $('input[data-type="startP-' + index + '"]').val();
                    var resta = startp - value;
                    $('input[data-type="difP-' + index + '"]').val(resta);
                }
            });

            $('.realS').on('keyup', function () {
                var value = $(this).val();
                var index = $(this).attr('data-index');
                if (value > 0) {
                    var starts = $('input[data-type="startS-' + index + '"]').val();
                    var resta = starts - value;
                    $('input[data-type="difS-' + index + '"]').val(resta);
                }
            });
        });
    </script>
}