@model CHS.TLC.Data.NM.Web.Areas.Intranet.ViewModels.Store.LstOuputNoteViewModel
@{
    ViewBag.Title = "Lista de Notas de Salida";
    ViewBag.PageIcon = "arrow-right";
}

@section Breadcrumbs{
}
<div class="row-fluid">
    <div class="span12 box bordered-box blue-border">
        <div class="box-header blue-background">
            <div class="title">
                <i class="icon-filter"></i>
                Filtros
            </div>
        </div>
        <div class="box-content box-double-padding">
            <form class="form" style="margin-bottom: 0;">
                <fieldset>
                    <div class="span3">
                        <strong>Estado</strong>
                        @Html.DropDownListFor(x => x.State, Model.LstState, "[-Seleccione-]", new { @class = "span12" })
                    </div>
                    <div class="span3">
                        <strong>Fecha</strong>
                        @Html.TextBoxFor(x => x.Date, new { @class = "span12" })
                    </div>
                    <div class="span3">
                        <strong>Código</strong>
                        @Html.TextBoxFor(x => x.Code, new { @class = "span12" })
                    </div>
                    <div class="span3">
                        <strong>Tipo de Movimiento</strong>
                        @Html.DropDownListFor(x => x.MovementTypeId, new SelectList(Model.LstMovementType, "MovementTypeId", "Name"), "[-Seleccione-]", new { @class = "span12" })
                    </div>
                </fieldset>

                <hr class="hr-normal">

                <div class="form-actions" style="margin-bottom: 0;">
                    <div class="text-right">
                        <div class="btn btn-primary btn-large">
                            <i class="icon-save"></i>
                            Filtrar
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="row-fluid">
</div>