@{
    var controller = ((CHS.TLC.Data.NM.Web.Controllers.BaseController)this.ViewContext.Controller);
}
<nav class='' id='main-nav'>
    <div class='navigation'>
        <ul class='nav nav-stacked'>
            @Html.Raw(controller.GenerarMenu(controller.ObtenerPermisos(Session.GetRolId())));
        </ul>
    </div>
</nav>