@model CHS.TLC.Data.NM.Web.Areas.Intranet.ViewModels.Home.DashboardAdministratorViewModel
@{
    ViewBag.Title = "Dashboard Administrador";
    ViewBag.PageIcon = "dashboard";
}


<div class="row-fluid">
    <div class="span12 box box-transparent">
        <div class="row-fluid">
            <div class="span2 box-quick-link blue-background">
                <a href="#">
                    <div class="header">
                        <div class="icon-file-alt"></div>
                    </div>
                    <div class="content">Pre P.O.</div>
                </a>
            </div>
            <div class="span2 box-quick-link green-background">
                <a href="#">
                    <div class="header">
                        <div class="icon-arrow-left"></div>
                    </div>
                    <div class="content">Nota de Ingreso</div>
                </a>
            </div>
            <div class="span2 box-quick-link orange-background">
                <a href="#">
                    <div class="header">
                        <div class="icon-arrow-right"></div>
                    </div>
                    <div class="content">Nota de Salida</div>
                </a>
            </div>
        </div>
    </div>
</div>