@model CHS.TLC.Data.NM.Web.Areas.Intranet.ViewModels.Home.MainOptionViewModel
@{
}

<style>
    .fas, .far {
        color: #fff;
        font-size: 24px;
        vertical-align: middle;
    }

    .box-quick-link a .header [class^=fa-], .box-quick-link a:hover .header [class*=" fa-"] {
        font-size: 30px !important;
    }

    .box.box-transparent .box-content {
        background: 0 0;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        background: white;
        border: 1px solid #dddddd;
    }

    .box-statistic [class*=icon-] {
        font-size: 16px !important;
    }
</style>

<div class="row-fluid">
    <div class="span12 box box-transparent">
        <div class="row-fluid">
            @foreach (var icon in Model.LstGroupIcon)
            {
                <div class="span3">
                    <div class="box-quick-link green-background">
                        <a href="#">
                            <div class="header">
                                <div class="fas fa-@icon"></div>
                            </div>
                        </a>
                    </div>

                    <br />

                    <div class="row-fluid">
                        <div class="span12">
                            @foreach (var roleOption in Model.LstRoleOption.Where(x => x.Option.Icon.Equals(icon)))
                            {
                                @Html.EncodedActionLink(Html.Raw("<div class='box-content box-statistic text-right'><small>" + roleOption.Option.Description + "</small><div class='text-green icon-circle align-left'></div><br /></div>"), roleOption.Option.Action, roleOption.Option.Controller, roleOption.Option.Area, new { FatherId = roleOption.Option.FatherId }, new {  })
                            }
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>